<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
  <meta charset="UTF-8">
  <title>Infor</title>
</head>
<body>

<div layout:fragment="content">

  <div class="bd-example">


  </div>

  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Opsss!</h4>
    <p>For you attention,</p>
    <hr>
    <p class="mb-0" th:text="${msg}">Custom message is ready, Developer team will contact you soon.</p>
  </div>

  <div class="but-row">
    <input type="button" class="btn btn-primary" value="Back" onclick="history.back()">
  </div>

</div>
</div>

</body>
</html>