<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>

<div layout:fragment="content">
  <h1 class="h3 mb-0 text-gray-800">Error 422</h1>

  <div class="bd-example">


    <div th:switch="${msg}" class="container my-5">

      <div class="col-md-10">
        <div th:case="null">
          <div class="alert alert-danger" role="alert">
            <p>Unprocessable Entity response status code!</p>
          </div>
        </div>
        <div th:case="*">
          <div class="alert alert-danger" role="alert">
            <p th:text="${msg}">Invalid format!</p>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

</body>
</html>