<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
  <title>Home</title>

  <link rel="stylesheet"
        th:href="@{/assets/css/home.css}"/>

  <style>
            .tab {
        display: inline-block;
        margin-left: 40px;
            }
    </style>

</head>
<body>
<div layout:fragment="content">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <!--        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
    <!--                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of Current Students
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <td th:text="${studentCurrentCount}">..</td>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of Teachers
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <td th:text="${teacherCount}">..</td>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of Left Students
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <td th:text="${studentLeftCount}">..</td>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>




  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">

      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Tracker</h6>
        </div>

        <div class="card-body" th:if="${!noReceipt}">

          <h4 class="small font-weight-bold">Payments
            <span class="float-right" th:if="${paymentRatio}" th:text="${paymentRatio}+ '%'"></span>
            <span class="float-right" th:Unless="${paymentRatio}">0%</span>
          </h4>
          <div class="progress mb-4">
            <div th:if="${paymentRatio!=null && paymentRatio>=100}" class="progress-bar bg-complete" role="progressbar" th:style="'width:'+${paymentRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${paymentRatio!=null && paymentRatio>=80 && paymentRatio<100}" class="progress-bar bg-good" role="progressbar" th:style="'width:'+${paymentRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${paymentRatio!=null && paymentRatio>40 && paymentRatio<80}" class="progress-bar bg-fair" role="progressbar" th:style="'width:'+${paymentRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${paymentRatio!=null && paymentRatio<=40}" class="progress-bar bg-low" role="progressbar" th:style="'width:'+${paymentRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:unless="${paymentRatio}" class="progress-bar bg-low" role="progressbar" style="width: 1%" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <h4 class="small font-weight-bold">Confirmed Receipts
            <span class="float-right" th:if="${receiptsRatio}" th:text="${receiptsRatio}+'%'"></span>
            <span class="float-right" th:Unless="${receiptsRatio}">0%</span>
          </h4>
          <div class="progress mb-4">
            <div th:if="${receiptsRatio!=null && receiptsRatio>=100}" class="progress-bar bg-complete" role="progressbar" th:style="'width:'+${receiptsRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${receiptsRatio!=null && receiptsRatio>=80 && receiptsRatio<100}" class="progress-bar bg-good" role="progressbar" th:style="'width:'+${receiptsRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${receiptsRatio!=null && receiptsRatio>40 && receiptsRatio<80}" class="progress-bar bg-fair" role="progressbar" th:style="'width:'+${receiptsRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:if="${receiptsRatio!=null && receiptsRatio<=40}" class="progress-bar bg-low" role="progressbar" th:style="'width:'+${receiptsRatio}+'%'" th:aria-valuenow="${receiptsRatio}"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div th:unless="${receiptsRatio}" class="progress-bar bg-low" role="progressbar" style="width: 1%" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <!--                    <h4 class="small font-weight-bold">Student Payment Database <span class="float-right">55%</span></h4>-->
          <!--                    <div class="progress mb-4">-->
          <!--                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="55"-->
          <!--                             aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--                    </div>-->
          <!--                    <h4 class="small font-weight-bold">System Update <span class="float-right">92%</span></h4>-->
          <!--                    <div class="progress mb-4">-->
          <!--                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="92"-->
          <!--                             aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--                    </div>-->
          <!--                    <h4 class="small font-weight-bold">Student Tracking <span class="float-right">Complete!</span></h4>-->
          <!--                    <div class="progress">-->
          <!--                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"-->
          <!--                             aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--                    </div>-->
        </div>

        <div class="card-body" th:if="${noReceipt}">

          <h4 class="small font-weight-bold text-info">No any Receipt in the system.</h4>

          <h4 class="small font-weight-bold">Payments

            <span class="float-right">None</span>
          </h4>
          <div class="progress mb-4">

            <div class="progress-bar bg-secondary" role="progressbar" style="width: 1%" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <h4 class="small font-weight-bold">Confirmed Receipts
            <span class="float-right">None</span>
          </h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 1%" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <!-- Color System -->
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card bg-complete text-white shadow">
            <div class="card-body">
              Completed
              <div class="text-white-50 small">On Completion of 100%</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card bg-good text-white shadow">
            <div class="card-body">
              Good
              <div class="text-white-50 small">On Completion of 80%</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card bg-fair text-white shadow">
            <div class="card-body">
              Fair
              <div class="text-white-50 small">On Completion of 40%</div>
            </div>
          </div>
        </div>

        <!--                <div class="col-lg-6 mb-4">-->
        <!--                    <div class="card bg-info text-white shadow">-->
        <!--                        <div class="card-body">-->
        <!--                            Info-->
        <!--                            <div class="text-white-50 small">#36b9cc</div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <div class="col-lg-6 mb-4">
          <div class="card bg-low text-white shadow">
            <div class="card-body">
              Low
              <div class="text-white-50 small">Under the Range 40%</div>
            </div>
          </div>
        </div>
        <!--                <div class="col-lg-6 mb-4">-->
        <!--                    <div class="card bg-secondary text-white shadow">-->
        <!--                        <div class="card-body">-->
        <!--                            Secondary-->
        <!--                            <div class="text-white-50 small">#858796</div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
      </div>

    </div>



    <!--<div class="col-lg-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Contact Info</h6>
        </div>
        <div class="card-body">
          <a target="_blank" rel="nofollow" href="">Tel: 011 261 6117 / 011 438 2081
            &rarr;</a>
          <span class="tab"></span>
          <a target="_blank" rel="nofollow" href="http://www.negombosouth.lk/">Check the Website
            &rarr;</a>
          <span class="tab"></span>
          <a target="_blank" rel="nofollow" href="https://www.facebook.com/NSISPiliyandala">Check the FaceBook Page
            &rarr;</a>
          <span class="tab"></span>
          <a target="_blank" rel="nofollow" href="mailto:nsischoolpiliyandala@gmail.com">Email Us
            &rarr;</a>


        </div>

      </div>
    </div>-->


  </div>

</div>

</body>
<th:block layout:fragment="script">
  <script th:src="@{/assets/js/date.js}"></script>
  <script th:src="@{/assets/js/index-chart.js}"></script>
  <script th:src="@{/assets/js/index-chart-onload.js}"></script>
  <!--<script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>-->
  <script th:src="@{/assets/js/canvasjs.min.js}"></script>
</th:block>
</html>