<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">School System</title>

    <link rel="shortcut icon" th:href="@{/assets/pics/trbLogo.png}" />

    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"/>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/vendor/fontawesome-free/css/all.min.css}"/>

    <!-- Custom styles for this template-->

    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/css/sb-admin-2.min.css}">
    <style>
        .t1 {
            font-weight: bolder;
            font-size: 30px;
            font-family: "Times New Roman", Times, serif;
            }

        .t2 {
            font-size: 11px;
            font-family: "Courier New",Monospace;
            }

        .dropbtn {
              cursor: pointer;
              background: transparent;
              box-shadow: 0px 0px 0px transparent;
              border: 0px solid transparent;
              text-shadow: 0px 0px 0px transparent;
            }

        .dropdown {
          position: relative;
        }

        .dropdown-content {
          display: none;
          background-color:white;
          position: absolute;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {background-color:white;}

        .dropdown:hover .dropdown-content {
          display: block;
        }

        .dropdown:hover .dropbtn {
          background: transparent;
          box-shadow: 0px 0px 0px transparent;
          border: 0px solid transparent;
          text-shadow: 0px 0px 0px transparent;
        }
    </style>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <sec:authorize sec:authorize="isAuthenticated()">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion list-group sticky-top sticky-offset"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/assets/pics/trbLogo.png}" width="32" height="46">
                </div>
                <div class="sidebar-brand-text mx-3">
                    <div class="t1">ROYAL</div>
                    <div class="t2">ONLINE BANKING</div>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!--li class="nav-item">
                <a class="nav-link" href="./">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li-->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Student Management
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
<!--                    <i class="fas fa-fw fa-graduation-cap"></i>-->
                    <i class="fas fa-fw fa-address-card"></i>
                    <span>Main</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add:</h6>
                        <a class="collapse-item" href="/student/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Student</a>
                        <a class="collapse-item" href="/teacher/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Teacher</a>
                        <a class="collapse-item" href="/class/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Class</a>
                        <div class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">
                        <span class="collapse-item dropbtn">Add Assign<i class="fa fa-caret-down"></i>
                            <div class="dropdown-content">
                                <a class="collapse-item" href="/assign/add">Assign A Student </a>
                                <a class="collapse-item" href="/assign/addList">Assign Student List</a>
                                <a class="collapse-item" href="/assign/switch-students">Promote Class</a>
                            </div>
                        </span>
                        </div>
                        <a class="collapse-item" href="/discountCoupon/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Discount Coupon</a>
                        <a class="collapse-item" href="/concession/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Concession</a>
                        <!--<a class="collapse-item" href="/admin/discountCoupon/add" sec:authorize="hasRole('ROLE_ADMIN')">Add Discount Coupon</a>-->


                        <h6 class="collapse-header">Lists:</h6>
                        <a class="collapse-item" href="/student">List Student</a>
                        <a class="collapse-item" href="/teacher">List Teacher</a>
                        <a class="collapse-item" href="/class">List Class</a>
                        <a class="collapse-item" href="/assign">List Assign</a>
                        <a class="collapse-item" href="/discountCoupon">List Discount Coupon</a>
                        <a class="collapse-item" href="/concession">List Concession</a>

                        <h6 class="collapse-header">Search:</h6>
                        <a class="collapse-item" href="/discountCoupon/search">Search Discount Coupon</a>

                        <h6 class="collapse-header">Past Members:</h6>
                        <a class="collapse-item" href="/student/leave" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Leave Student</a>
                        <a class="collapse-item" href="/teacher/leave" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Leave Teacher</a>
                        <a class="collapse-item" href="/student/left?frequency=All">Left Student</a>
                        <a class="collapse-item" href="/teacher/left">Left Teacher</a>

                    </div>
                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReceipts"
                   aria-expanded="true" aria-controls="collapseReceipts">
<!--                    <i class="fas fa-fw fa-graduation-cap"></i>-->
                    <i class="fas fa-fw fa-receipt"></i>
                    <span>Receipts</span>
                </a>
                <div id="collapseReceipts" class="collapse" aria-labelledby="headingReceipts"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add:</h6>
                        <a class="collapse-item" href="/receipt-type/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Receipt Type</a>


                        <div class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">
                        <span class="collapse-item dropbtn">Add Receipt <i class="fa fa-caret-down"></i>
                            <div class="dropdown-content">
                                <a class="collapse-item" href="/receipt/schoolFees">Add School Fees Receipts</a>
                                <a class="collapse-item" href="/receipt/generate">Add Class Wise Receipts</a>
                                <a class="collapse-item" href="/receipt/add">Add An Individual Receipt</a>
                            </div>
                        </span>
                        </div>

                        <h6 class="collapse-header">List:</h6>
                        <a class="collapse-item" href="/receipt-type">List Receipt Type</a>
                        <a class="collapse-item" href="/receipt">List Receipt</a>

                        <h6 class="collapse-header">Search:</h6>
                        <a class="collapse-item" href="/receipt/search">Search Receipt</a>
                        <a class="collapse-item" href="/receipt-type/search">Search Receipt Type</a>
                    </div>
                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePayments"
                   aria-expanded="true" aria-controls="collapsePayments">
<!--                    <i class="fas fa-fw fa-graduation-cap"></i>-->
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>Payments</span>
                </a>
                <div id="collapsePayments" class="collapse" aria-labelledby="headingReceipts"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add:</h6>
                        <a class="collapse-item" href="/payment/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Payment</a>
                        <a class="collapse-item" href="/issue-payment/add" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ACTUATOR')">Add Issue Payment</a>

                        <h6 class="collapse-header">List:</h6>
                        <a class="collapse-item" href="/payment-list">List Payment</a>
                        <a class="collapse-item" href="/payment-breakdown">List Payment Breakdown</a>
                        <a class="collapse-item" href="/issue-payment">List Issue Payment</a>

                        <h6 class="collapse-header">Search:</h6>
                        <!--<a class="collapse-item" href="/payment/search">Search Payment</a>-->
                        <a class="collapse-item" href="/payment-breakdown/breakdown-search">Search Payment Breakdown</a>
                        <a class="collapse-item" href="/issue-payment/search">Search Issue Payment</a>

                    </div>
                </div>
            </li>
            <!---->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReports"
                   aria-expanded="true" aria-controls="collapseReports">
<!--                    <i class="fas fa-fw fa-graduation-cap"></i>-->
                    <i class="fas fa-fw fa-paste"></i>
                    <span>Reports</span>
                </a>
                <div id="collapseReports" class="collapse" aria-labelledby="headingReports"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/report-arrears/student">Student Arrears Report</a>
                        <a class="collapse-item" href="/report-arrears/class">Class Arrears Report</a>
                        <a class="collapse-item" href="/admin/report/school" sec:authorize="hasRole('ROLE_ADMIN')">School Arrears Report</a>
                        <a class="collapse-item" href="/bank-record?err=''">Bank Records</a>
                    </div>
                </div>
            </li>
            <!---->


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
<!--            <div class="sidebar-heading">-->
<!--                Management-->
<!--            </div>-->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
    </sec:authorize>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Title -->
                <sec:authorize sec:authorize="isAuthenticated()">
                    <h1 class="h3 mb-0 text-gray-800">The Royal Bank</h1>
                </sec:authorize>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->dash
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <sec:authorize sec:authorize="!isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="/login" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>

                            </a>
                        </sec:authorize>
                        <sec:authorize sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                      sec:authentication="principal.username">Admin</span>
                                <img class="img-profile rounded-circle" th:src="@{/assets/pics/User.png}">

                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <!--<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Manager
                                </a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#RegistrationModal"
                                   sec:authorize="hasRole('ROLE_ADMIN')">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Register A New Account
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
                                   sec:authorize="isAuthenticated()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                                <!--<div class="form-group">
    <span>New user? <a href="/home" th:href="@{/registration}">Register here</a></span>
</div>-->


                            </div>
                        </sec:authorize>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div layout:fragment="content">

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">

                <div class="copyright text-center my-auto">
                    <span>The Something Company</span>
                </div>
                <div class="copyright text-center my-auto">
                </div>
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>



<!-- Registration Modal-->
<div class="modal fade" id="RegistrationModal" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegistrationModalLabel">Add a new Actuator Account</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Register Here" below if you want to add a new non-admin user to the system.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/registration}">Register Here</a>
            </div>
        </div>
    </div>
</div>

<!-- leave msg Modal -->
<div class="modal fade" id="exampleModalLve" tabindex="-1" role="dialog" aria-labelledby="leaveModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Leaving
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalLveButton" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- leave msg Modal Class -->
<div class="modal fade" id="exampleModalLveCls" tabindex="-1" role="dialog" aria-labelledby="leaveModalLabelCls"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveModalLabelCls">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Leaving
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalLveButtonCls" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- re add msg Modal -->
<div class="modal fade" id="exampleModalRad" tabindex="-1" role="dialog" aria-labelledby="reAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reAddModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Re Assign
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalRadButton" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>


<!-- add payments to receipt msg Modal -->
<div class="modal fade" id="exampleModalAddPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalAddPayment"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPaymentModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Payment
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalAddPaymentButton" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- disable (discount-coupon) msg Modal -->
<div class="modal fade" id="exampleModalDisable" tabindex="-1" role="dialog" aria-labelledby="disableModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to Disable the Discount Coupon?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalDisableButton" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- enable (discount-coupon) msg Modal -->
<div class="modal fade" id="exampleModalEnable" tabindex="-1" role="dialog" aria-labelledby="enableModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enableModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to Enable the Discount Coupon?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="modalEnableButton" href="" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- delete receipt Modal -->
<div class="modal fade" id="receiptDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteReceiptModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReceiptModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="shadow text-xs font-weight-bold text-danger text-uppercase mb-1 text-center">HIGHLY DEPRECIATED!!!</div><br>
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">If you delete this Receipt, all the Payments which have done onto this Receipt will be deleted. Are you Sure You want to delete this Receipt?
                </div><br>
                Confirm the Deletion
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="modalConfirmButton" href="" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- delete record Modal -->
<div class="modal fade" id="recordDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordModalLabel">Delete Bank Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Deletion
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="modalConfirmButton" href="" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- delete msg Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm the Deletion
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="modalDelButton" href="" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- input Modal -->
<div class="modal fade" id="inoutModal" tabindex="-1" role="dialog" aria-labelledby="inoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inoutModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="url-to-call" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-number" class="col-form-label" id="main-label-id">Count:</label>
                        <input type="text" class="form-control" id="modal-new-number">
                    </div>
                    <div class="form-group" id="input-modal-2" style="display: none;">
                        <label for="modal-new-number" class="col-form-label" id="main-label-id2">Count2:</label>
                        <input type="text" class="form-control" id="modal-new-number2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalAddButton">Add</button>
            </div>
        </div>
    </div>
</div>


<script th:src="@{'/assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js'}"></script>
<script th:src="@{'/assets/bootstrap/vendor/jquery/jquery.min.js'}"></script>

<script th:src="@{'/assets/js/bootstrap-datetimepicker.min.js'}"></script>
<script th:src="@{'/assets/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/bootstrap/vendor/jquery-easing/jquery.easing.min.js'}"></script>
<script th:src="@{'/assets/bootstrap/js/sb-admin-2.min.js'}"></script>
<script>


     $(document).ready(function() {

   var url = location.pathname;

            $('.nav-item.active').removeClass('active');
            $('.nav-item a[href="'+url+'"]').addClass('active');
            $('.nav-item a[href="'+url+'"]').parent().parent().collapse('show');


    });






</script>
</body>

<th:block layout:fragment="script"></th:block>
</html>